.nav .fa {
    font-size: 24px;
}

.avatar {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.about-me {
    color: #616161;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-me h3,
.about-me p {
    margin: 0;
}

.about-me .fa {
    position: relative;
    top: -5px;
}

html, body, .block {
    height: 100%;
}

.section h5 {
    text-decoration: underline;
}

.section-title,
.title-name {
    font-size: 26px;
}

.page-footer {
    font-size: 26px;
    padding-bottom: 5px;
    margin-top: 30px;
}

.keyword {
    color: #f5f5f5;
}

body a {
    color: white;
    text-decoration: underline;
}

.logo-section h5 {
    color: #616161;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.logo-section .images {
    margin-bottom: 15px;
}

.logo-img {
    width: 150px;
    margin-bottom: 15px;
}

.logo-img-sq {
    margin-bottom: 15px;
    width: 75px;
}

.logo-section {
    padding-bottom: 30px;
    padding-top: 10px;
}

.logo-section.right {
    border-left: 1px solid #616161;
    padding-bottom: 30px;
}


.logos {
    border-bottom: 1px solid #616161;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .logos,
    .logo-section.last {
        border-bottom: none;
    } 

    .logo-section.right {
        border-left: none;
        padding-bottom: 0;
    }

    .logo-section {
        border-bottom: 1px solid #616161;
    }
}